@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
  }

  .main-container {
    display: flex;
    max-width: 850px;
    justify-content: center;
    flex-direction: column;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #1d1919 !important;
}

* {
  color: white;
  /* background-color: #1d1919; */
}

.btn-rad {
  border-radius: 0.25rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgb(225, 70, 45);
  color: white;
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  width: 170px;
}

button:hover,
button:active,
button:focus {
  background-color: rgb(197, 43, 12);
}

/* Menu Page */

.container-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}

.menu-group {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.menu-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}

.menu-item {
  display: flex;
  justify-content: center;
}
/* Reservation Page */

.to-menu {
  border: none;
  cursor: pointer;
  background-color: rgba(77, 255, 0, 0.575);
  color: white;
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
}

.to-menu:hover,
.to-menu:active,
.to-menu:focus {
  background-color: rgba(77, 255, 0, 0.199);
}

/* LogIn Page */
.LoginForm input {
  border-radius: 0.25rem;
}

/* Sign Up Page */
