<<<<<<< HEAD
h1 {
  color: rgb(77, 255, 0);
  font-family: "Source Sans Pro", Tahoma, Arial, sans-serif;
  font-size: 150px;
  text-align: center;
  margin-top: 200px;
=======
/* 
body {
    background-image: url("https://image.freepik.com/free-photo/green-cocktail-with-slice-lime-wasabi-black-background_78820-72.jpg");
    background-repeat: no-repeat;
    background-size: cover
} */

h1 {
    color: rgb(77, 255, 0);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 150px;
    text-align: center;
    margin-top: 100px;
>>>>>>> 0b59d497f5d9303392fb9bac448f3ed4df6a00bd
}

p {
  text-align: center;
  color: white;
}

img {
  width: 50px;
  height: 50px;
}
<<<<<<< HEAD
=======

/* .image-div {
    margin-left: 650px;
    margin-top: 140px;
} */

footer {
    display: block;
    margin: 0 auto;
}
>>>>>>> 0b59d497f5d9303392fb9bac448f3ed4df6a00bd
