h1 {
  color: rgb(77, 255, 0);
  font-family: "Source Sans Pro", Tahoma, Arial, sans-serif;
  font-size: 150px;
  text-align: center;
  /* margin-top: 30px; */
}

p {
  text-align: center;
  color: white;
}

img {
  width: 50px;
  height: 50px;
}
