h1 {
  color: rgb(77, 255, 0);
  font-family: "Source Sans Pro", Tahoma, Arial, sans-serif;
  font-size: 150px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
}

.logo {
  background-color: coral;
}
