.card-container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  border: none;
  background-color: #1d1919;
}

.title-container {
  width: 370px;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
}

.menu-title {
  display: flex;
  width: 290px;
}

.menu-price {
  display: flex;
}

.description-field {
  width: 290px;
}

.menu-description {
  width: 290px;
  display: inline;
}
