.card {
  background-color: rgba(245, 245, 245, 0);
  /* border-radius: 2px; */
  height: 200px;
  /* margin-left: 5rem; */
  position: relative;
  width: 400px;
  text-align: left;
  color: white;
}

.card > .content {
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.price {
  color: white;
  float: right;
}

.menuTitle {
  color: white;
  font-size: large;
  font-weight: 600;
  display: inline;
}

.menuDescription {
  color: white;
  width: 300px;
}
