.card-container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  border: none;
  background-color: #1d1919;
  /* background-color: lightslategray; */
}

.title-container {
  width: 370px;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
}

.menu-title {
  display: flex;
  width: 290px;
  /* background-color: mediumorchid; */
}

.menu-price {
  display: flex;
  /* background-color: mediumseagreen; */
}

.description-field {
  width: 290px;
  /* background-color: mediumvioletred; */
}

.menu-description {
  width: 290px;
  display: inline;
  /* background-color: olive; */
}
